certifi==2021.10.8; python_full_version >= "3.7.0"
charset-normalizer==2.0.12; python_version >= "3" and python_full_version >= "3.7.0"
colorama==0.4.4; platform_system == "Windows" and python_full_version >= "3.7.0"
filelock==3.6.0; python_version >= "3.7" and python_full_version >= "3.7.0"
huggingface-hub==0.5.1; python_full_version >= "3.7.0"
idna==3.3; python_version >= "3.5" and python_full_version >= "3.7.0"
packaging==21.3; python_version >= "3.6" and python_full_version >= "3.7.0"
pyparsing==3.0.8; python_version >= "3.6" and python_full_version >= "3.7.0"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.7.0"
requests==2.27.1; python_full_version >= "3.7.0"
tqdm==4.64.0; python_full_version >= "3.7.0"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.7.0"
urllib3==1.26.9; python_full_version >= "3.7.0" and python_version < "4"
